* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    background-color: rgb(238, 235, 235);
}

/* Paleta de cores */
:root {
    --cor01: ;
    --cor02: ;
    --cor03: ;
}
/* ------------------------------------------------------------------------------------------------- */

/* Header */

/* Menu */
.nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: rgb(101, 13, 122);
    color: #fff;

    position: fixed;
    right: 0;
    left: 0;
}

.logo, .humburguer {
    padding: 10px;
}

.humburguer {
    display: none;
    cursor: pointer;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .humburguer {
        display: block;
    }

    .menu {
        display: none;
    }

    .menu a {
        display: block;
        border-top: solid 1px #fff;
        width: 100vw;
    }
}
/* -------------------------------------------------- */

/* ------------------------------------------------- */

/* Main */
main {
    /* padding-top: 45px; */
}

main * {
    color: black;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
}

section h1 {
    width: 100%;
    text-align: center;
}

article {
    width: 500px;
    background-color: rgb(194, 149, 206);
    padding: 20px;
    margin: 3px;
    border-radius: 5px;
}

ul.cod-menu {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
}

article li {
    list-style: none;
}

article a {
    text-decoration: none;
}
/* --------------------------------------------------- */

/* Footer */
footer {
    padding: 20px;
}
/* ----------------------------------------------- */